<mat-card>
  <mat-card-title>Registro de producto</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field>
        <mat-label>Categorias</mat-label>
        <mat-select formControlName="categoria" required>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
               {{categoria.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

      <mat-form-field>
        <mat-label>Codigo</mat-label>
        <input type="text" matInput formControlName="codigo" required>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre" required>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Descripcion</mat-label>
        <textarea type="text" matInput formControlName="descripcion"></textarea>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Stock</mat-label>
        <input type="number" matInput formControlName="stock" required>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Stock Minimo</mat-label>
        <input type="number" matInput formControlName="stockMinimo" required>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Precio Venta</mat-label>
        <input type="number" matInput formControlName="precioVenta" required>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn-form" [disabled]="form.invalid" (click)="grabar()" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
      <span>Registrar</span>
    </button>
    <button class="btn-form" (click)="cancelar()" mat-raised-button>
        <mat-icon>cancel</mat-icon>
       <span>Cancelar</span>
    </button>
  </mat-card-actions>
</mat-card>
