mat-card,form{
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button{
    width: 30%;

}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
