/* You can add global styles to this file, and also import other style files */

html,
body {
  font-size: smaller;
  height: 100%;
  background-color: #EBF3F5; 
  margin: 0;
}

 mat-card {
  background:#EBF3F5;
  }