@import '~@angular/material/theming';
@include mat-core();
/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-teal,500);
$my-custom-accent: mat-palette($mat-cyan,500);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Titillium Web, sans-serif'
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);//
